Options +FollowSymlinks
RewriteEngine  on
RewriteRule "accueil$" "/index.php" [L]
RewriteRule "connexion$" "/connexion.php" [L]
RewriteRule "profil-([0-9]+)$" "profil.php?id=$1" [L]
RewriteRule "inscription-suite$" "inscription2.php" [L]
RewriteRule "recherche-([0-9]+)$" "recherche.php?recherche=$1" [L]
