Options +FollowSymlinks
RewriteEngine  on
RewriteRule "connexion$" "/connexion.php" [L]
RewriteRule "connexion-(.+)$" "/connexion.php?user=$1" [L]
RewriteRule "accueil$" "/feed.php" [L]
RewriteRule "inscription-suite$" "/inscription2.php" [L]
RewriteRule "mot_de_passe_oublie$" "/mdpoublie.php" [L]
RewriteRule "messenger$" "/messenger.php" [L]
RewriteRule "post-([0-9]+)$" "/posts.php?id=$1" [L]
RewriteRule "profil-([0-9]+)$" "/profil.php?id=$1" [L]
RewriteRule "recherche-([0-9a-zA-Z]+)$" "/recherche.php?recherche=$1" [L]
RewriteRule "recherche-$" "/recherche.php?recherche=" [L]
RewriteRule "mot_de_passe_oublie-([0-9a-zA-Z]+)$" "/resetmdp.php?code=$1" [L]
RewriteRule "parametres-([0-9]+)$" "/settings.php?id=$1" [L]
RewriteRule "invitation$" "/invitation.php" [L]
RewriteRule "valider_mon_compte-([0-9a-zA-Z]+)$" "/scripts/php/confirmation.php?code=$1" [L]
