.navbar-toggler{
  height: 50px;
  width: 70px;
}

.content{
  margin-top: 70px;
}

.form_connexion{
    font-size: 1.3em;
}

#bananatitre{
  font-size: 1.5em;
}

#cobout{
  font-size: 1.3em;
}

#droite{
  font-size: 1.3em;
  height: 600px;
  width: 60%;
}

#gauche{
  height: 600px;
}

#aff_prof{
  display: inline;
}

.fa-user{
  display: inline;
}
