.navbar-toggler{
  height: 50px;
  width: 70px;
}

.content{
  margin-top: 70px;
}

.form_connexion{
    font-size: 1.3em;
}

#bananatitre{
  font-size: 1.5em;
}

#cobout{
  font-size: 1.3em;
}

#droite{
  font-size: 1.3em;
  height: 600px;
  width: 60%;
}

#gauche{
  height: 600px;
}

#aff_prof{
  display: inline;
}

.fa-user{
  display: inline;
}

#aff_mess{
  display: inline;
}

.fa-comments{
  display: inline;
}

#aff_demande{
  display: inline;
}

.fa-user-friends{
  display: inline;
}

#historique{
  width: 25%;
  font-size: 1.3em;
}

.discution{
  width: 75%;
  left: 25%;
  font-size: 1.3em;
}

#messenger_i:hover + #notificationContainer{
  display: none;
}

#notificationContainer:hover{
  display: none;
}

.envoie_msg{
  width: 15%;
}

.message_area{
  width: 75%;
}
