.navbar-toggler{
  height: 50px;
  width: 70px;
}

.content{
  margin-top: 70px;
}

#bananatitre{
  font-size: 1.5em;
}

#cobout{
  font-size: 1.3em;
}

#droite{
  font-size: 1.3em;
}

#gauche{
  height: 600px;
}
