.content{
  width: 100%;
  height: 500px;
  margin-top: 56px;
}

.navbar {
  background-color: #FFA07A ! important;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

/* ====================  CSS PAGE Principale ==================== */

#gauche{
  float: left;
  width: 60%;
  height: 100%;
  background-color: red;
}

#droite{
  float: right;
  width: 40%;
  height: 100%;
  background-color: #dbd4f952;
}

#nomprenom_insci{
  height: 2em;
  background-color: grey;
}

#prenom_insci, #nom_insci{
  width: 50%;
  height: 100%;
  float: left;
}


.insciform{
  height: 100%;
  width: 100%;
  padding: 10px;
}
/* ====================  Fin CSS page principale ==================== */

/* ====================  CSS PAGE DE PROFIL ==================== */
.cover {
  height: 300px;
  width: 80%;
  margin-left: 10%;
  background-color: red;
  overflow: hidden;
  text-align: center;
}
.pp {
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 90px;
  margin-top: -120px;
  margin-left: 18%;
}
.name {
  margin-top: -50px;
  margin-left: 38%;
}
.profilcover {
  width: 100%;
  margin-top: -200px;
}
.profilpicture {
  width: 100%;
  height: 100%;
}





/* ====================  FIN CSS PAGE DE PROFIL ==================== */
